{% extends "auctions/layout.html" %}

{% block title %}Watchlists{% endblock %}

{% block body %}

    <h2 style="margin-left: 17px; margin-bottom: 20px;">Watchlists</h2>

    {% if not watchlists %}
        <p style="text-align: center;">You don't have any watchlists.</p>
    {% endif %}

    {% for list in watchlists %}
    <a href="{% url 'listings' list.list_id.id %}" style="text-decoration: none; color: black;">
        <div class="container row" style="border:1px solid #ddd; margin-left: 17px; max-width: 98%;">
            <div class="col-xl-4 col-lg-4 col-md-4 text-center" style="padding-right: 15px;">
                <img src="{{list.list_id.link}}" alt="{{list.list_id.title}}" style="max-width: 100%; height:250px;">
            </div>
            <div style="padding: 15px; padding-left: 100px; text-align: justify;" class="col-xl-7 col-lg-7 col-md-7">
                <h5 style="line-height: 1.6;"><b>{{list.list_id.title}}</b></h5>
                <h6 style="line-height: 1.6;"><b>Price: </b>${{list.list_id.startbid}}</h6>
                <!--<h6 style="line-height: 1.6;">{{listing.description}}</h6>-->
                <br><br><br>
                {% if list.list_id.active == False %}
                    <p class="dimmed">Status &emsp;&emsp; : Close</p>
                {% else %}
                    <p class="dimmed">Status &emsp;&emsp; : Open</p>
                {% endif %}
                <p class="dimmed">Created &emsp; : {{list.list_id.date}}</p>
            </div>
        </div>
    </a>
        <br>
    {% endfor %}

{% endblock %}